
<style>
    body {
      overflow: hidden;
    }
    #capsidelogo {
        position: absolute;
        right : 1em;
        bottom: 1em;
        width: 300px;
        padding: 0;
    }
    #version {
        position: absolute;
        left : 1em;
        bottom: 1em;
        width: 300px;
        padding: 0;
        font-size: 4em;
        font-weight: bold;
        color: silver;
    }
    
    #pokemonlogo {                
        position : absolute;
        width : 98%;
        margin : 0 auto;
        z-index : -10;
        opacity: 0.4;
    }
    
    .card {
        display : block;
        min-width: 420px;
        width : 40%;
        background-color : white;
        border : 1px solid silver;
        padding: 10px;
        margin : 0 auto;
        text-align : center;
    }
    
    .card > img {
        min-width : 400px;
    }
    
    .card h2 {
        margin : 8px;
        font-family : sans-serif;
        font-size : 4em;
        color : tomato;
    }

    .dangerousbutton {
        position : absolute;
        right: 1em;
        top : 0;
        margin-top: 2em;
        -moz-box-shadow: 0px 0px 2px 0px #c21b1b;
        -webkit-box-shadow: 0px 0px 2px 0px #c21b1b;
        box-shadow: 0px 0px 2px 0px #c21b1b;
        background-color:#cf293a;
        -moz-border-radius:12px;
        -webkit-border-radius:12px;
        border-radius:12px;
        border:1px solid #ab1919;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:12px;
        padding:8px 16px;
        text-decoration:none;
    }
    .dangerousbutton:hover {
        background-color:#bd2a42;
    }
    .dangerousbutton:active {
        top:1px;
    }

</style>
<img id="capsidelogo" src="img/avatar-capside.png" alt="capside logo"/>
<img id="pokemonlogo" src="img/pokemon-logo.svg" alt="pokemon logo"/>
<button type="button" class="dangerousbutton">Set one pokemon unhealthy</button>
<div class="card">
    <img src="img/pokemon/{{pokemon.id}}.png" alt="{{pokemon.name}} ({{pokemon.id}})"/> 
    <h2>{{pokemon.name}}</h2>
</div> 
<div id="version">0.0.5-mysql-s3</div>

<script>
    document.querySelector('.dangerousbutton').addEventListener('click', function(evt) {
        this.innerHTML = 'Loading!';
        var xmlhttp = new XMLHttpRequest();

        xmlhttp.onreadystatechange = () => {
            if (xmlhttp.readyState == XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
                if (xmlhttp.status == 200) {
                    this.innerHTML = 'Done';
                } else {
                    this.innerHTML = 'Error';
                }
            }
            setTimeout(() => this.remove(), 1000*2.5);
        };

        xmlhttp.open('DELETE', '/poison', true);
        xmlhttp.send();        
    }, false);

</script>